<head>
    <link rel="stylesheet" type="text/css" href="/static/vendors/css/normalize.css"><!--BROWSER RESET-->
    <link rel="stylesheet" type="text/css" href="/static/vendors/css/grid.css">     <!--GRID LIBRARY/SOURCE-->
    <link rel="stylesheet" type="text/css" href="/static/resources/css/style.css">  <!--CUSTOM STYLING & GRID-->
    <link rel="stylesheet" type="text/css" href="/static/vendors/css/ionicons.min.css">     <!--ICONS-->
    <link href="https://fonts.googleapis.com/css?family=Lato|Galada" rel="stylesheet">
    <!-- title -->
    <title>{% block title%}{% endblock %}</title>
</head>