<!DOCTYPE html>
<html lang="en">
<head>
    <!-- link rel="stylesheet" type="text/css" href="/static/vendors/css/normalize.css" --><!--BROWSER RESET-->
    <link rel="stylesheet" type="text/css" href="/static/resources/css/style.css">  <!--CUSTOM STYLING & GRID-->
    <!-- link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css"-->     <!--ICONS-->
    <!-- link href="https://fonts.googleapis.com/css?family=Lato|Galada" rel="stylesheet" -->
    <title></title>
</head>
<body>
<header>
<!-- welcome screen -->
    <div class='row'>
        <div class='welcome-textbox'>
        <p>welcome to</p>

        <h1>G<span>reenville</span><br>Swing</h1>
        </div>

        <div class='welcome-info'>
            <p>3 hours of dance.</p>
            <a href='#' class='welcome-lessons-link'>30 minute lesson(s).</a>
            <p>for only $4.</p>
            <br>
            <p><i class='ion-ios-calendar-outline'></i>
            Every Tuesday</p>
            <p><i class='ion-ios-time-outline'></i>
            7:00pm &mdash; 10:30pm</p>
        </div>
    </div>

    <div class='row'>
        <div class='welcome-btn-area'> <!-- area for buttons below welcome screen -->
            <a href='https://www.google.com/maps/place/100+E+Park+Ave,+Greenville,+SC+29601/@34.8577312,-82.3964058,17z/data=!3m1!4b1!4m5!3m4!1s0x885831da2130ea37:0x59921c631845fee9!8m2!3d34.8577268!4d-82.3942118' class='btn btn-welcome-screen btn-take-me'><i class='ion-ios-location'></i>Take Me There *</a> <!-- enable admin control -->
            <a href='https://www.instagram.com/greenvilleswing/' class='btn btn-welcome-screen btn-instagram'><span><i class='ion-social-instagram-outline'></i></span>Instagram</a>
            <a href='https://www.facebook.com/GreenvilleSwing/' class='btn btn-welcome-screen btn-facebook'><i class='ion-social-facebook'></i>Facebook</a>
        </div>
    </div>

    <div class='row'>
        <div class='scroll-down'>
            <p>scroll down</p>
        </div>
    </div>
</header>
<main>
    <!-- main -->
</main>
<footer>
    <div class="fine-print">
            <p>&copy; 2019 <a href="/admin/login">Greenville Swing</a></p>
        </div>
</footer>
</body>
</html>

<!-- end -->
