[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
requests = "*"
Jinja2 = ">=2.10.1"

[dev-packages]

[requires]
python_version = "3.6"
