{% extends "_layout.html"%}

{% block title%}G'ville Swing Dance{% endblock%}

{% block header %}
<!-- welcome screen -->
    <div class='row'>
        <div class='welcome-textbox'>
        <h1>Admin</h1>
        </div>

        <div class='welcome-info'>
            <label for="cms-form">Edit Landing Page</label>
            <form id="cms-form" class="cms-form" action="/admin/cms/edit_index" method="post">
                {{ cms_form.hidden_tag() }} <!-- hidden input -->
            <p>
                {{ cms_form.quantity_dance_duration.label }} <br>
                {{ cms_form.quantity_dance_duration(size=20) }} <br>
                {% for error in cms_form.quantity_dance_duration.errors %}
                <span class="error-messages">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ cms_form.quantity_lesson_duration.label }} <br>
                {{ cms_form.quantity_lesson_duration(size=20) }} <br>
                {% for error in cms_form.quantity_lesson_duration.errors %}
                <span class="error-messages">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ cms_form.description_price.label }} <br>
                {{ cms_form.description_price(size=20) }} <br>
                {% for error in cms_form.description_price.errors %}
                <span class="error-messages">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ cms_form.event_frequency.label }} <br>
                {{ cms_form.event_frequency(size=20) }} <br>
                {% for error in cms_form.event_frequency.errors %}
                <span class="error-messages">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ cms_form.days_of_week.label }} <br>
                {{ cms_form.days_of_week(size=20) }} <br>
                {% for error in cms_form.days_of_week.errors %}
                <span class="error-messages">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ cms_form.timespan_start.label }} <br>
                {{ cms_form.timespan_start(size=20) }} <br>
                {% for error in cms_form.timespan_start.errors %}
                <span class="error-messages">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ cms_form.timespan_stop.label }} <br>
                {{ cms_form.timespan_stop(size=20) }} <br>
                {% for error in cms_form.timespan_stop.errors %}
                <span class="error-messages">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ cms_form.submit() }}
            </p>
            </form>
        </div>
    </div>

    <div class='row'>
        <div class='welcome-btn-area'> <!-- area for buttons below welcome screen -->
            <a href='https://www.google.com/maps/place/100+E+Park+Ave,+Greenville,+SC+29601/@34.8577312,-82.3964058,17z/data=!3m1!4b1!4m5!3m4!1s0x885831da2130ea37:0x59921c631845fee9!8m2!3d34.8577268!4d-82.3942118' class='btn btn-welcome-screen btn-take-me'><i class='ion-ios-location'></i>Take Me There *</a> <!-- enable admin control -->
            <a href='https://www.instagram.com/greenvilleswing/' class='btn btn-welcome-screen btn-instagram'><span><i class='ion-social-instagram-outline'></i></span>Instagram</a>
            <a href='https://www.facebook.com/GreenvilleSwing/' class='btn btn-welcome-screen btn-facebook'><i class='ion-social-facebook'></i>Facebook</a>
        </div>
    </div>

    <div class='row'>
        <div class='scroll-down'>
            <p>scroll down</p>
        </div>
    </div>
<!-- END WELCOME SCREEN -->
{% endblock %}<!-- END HEADER -->

{% block content %}
{% endblock %} <!-- END CONTENT -->
                
{% block footer %}
{% endblock %} <!-- END FOOTER -->
