/*========================================================*/
/*========== GREENVILLE SWING DANCE "style.css" ==========*/
/*========================================================*/

/* TODO: CSS GRID */

/*========================================================*/
/*============= BROWSER DEFAULT OVERRIDES ================*/
/*========================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* considering adding flex/grid at the root level VS at the component level. */
}

html {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/*========================================================*/
/*======================== TAGS ==========================*/
/*========================================================*/
body {
    background-position: top;
    background-size: cover;
    background-image: url(img/dancefloor.jpg);
    background-attachment: fixed;
    border: 3px solid purple;
}

.content-area {
    margin: 0 auto;
    min-width: 360px;
    max-width: 1200px;
    border: 3px solid yellow;
    min-height: 100vh;/* added to fix excess white space near bottom of header when resizing the screen */
    /* min-width: 360px; */
    /* width: 360px; */
}



hr {
    color: black;
}


/*========================================================*/
/*============= HEADINGS h1, h2, h3, etc. ================*/
/*========================================================*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Galada', 'Arial', sans-serif;
}


/*========================================================*/
/*================== HEADER SECTION ======================*/
/*========================================================*/
header {
    width: 95%;
}

/*========================================================*/
/*================== FOOTER SECTION ======================*/
/*========================================================*/
footer {
    display: grid;
    width: 100%;
    height: auto;
    bottom: 0;
}

footer * {
}

.fine-print {
    bottom: 0;
    font-size: 15px;
    color: #000 !important;
}

        /*-------- WELCOME TEXTBOX ---------*/
.welcome-textbox {
    font-size: 120%;
    display: grid;
}

.welcome-textbox h1, span {
    /* assumes all contents within are text based (inline) */
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 2%;
}

.welcome-textbox p {
    padding-top: 1%;
    padding-left: 1%;
    white-space: nowrap;
    font-size: 50%;
    font-weight: 500;
    text-align: right;
}

.welcome-textbox h1 {
    font-size: 200%;
    font-weight: 500;
    line-height: 96%;
}

.welcome-textbox span {
    color: #0a4a1b;
    text-shadow: 1px 2px #061939;
}

    /*---------------WELCOME INFO --------------*/
welcome-lessons-link:hover {
       
}

.welcome-info {
    display: grid;
    border: 2px solid #cbc3c3;
    border-radius: 5%;
    background-color: rgba(4, 23, 54, 0.9);
    margin: 0 auto 2% auto;
    padding: 2%;
    width: 90%;
    height: 80%;
    font-family: 'Galada', 'Arial', sans-serif;
    font-size: 110%;
    color: #e1e7f4;
    text-align: center;
    line-height: 150%;
    transition: background-color 0.2s;
}
.welcome-info:hover {
    background-color: #051b3e;
    border-color: #051b3e;
    color: #fff;
}
.welcome-info a:hover {
    color: #f00;
    
}
.welcome-info i {
    margin-left: 3%;
}

.welcome-btn-area {
    display: grid;
    text-align: center;
    width: 100%;
}

.scroll-down {
    display: none;
    width: 120px;
    margin: 4% auto 0 auto;
    font-size: 60%;
    text-align: center;
    white-space: nowrap;
}


/*========================================================*/
/*================== BUTTONS =============================*/
/*========================================================*/
.btn {
    /* border: 3px solid red; */
/*    positioning */
    padding: 10px 20px;
/*    content */
    word-spacing: 2px;
    white-space: nowrap;
}

.btn-manage {
    /* border: 1px solid #fff; */
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 30%;
}

.btn:link,
.btn:visited { 
    /*common button styling */
/* positioning */
/*    border: 2px solid white;*/
    border-radius: 200px;
    transition: background-color 0.2s;
/* content */
}

.btn-take-me:link,
.btn-take-me:visited {
    background-color: rgba(142, 7, 7, 0.9);
/*    border: 2px solid #eee;*/
}
.btn-take-me:hover {
    background-color: #db0808;
    border-color: #db0808;
}

.btn-welcome-screen {
/* positioning */
    display: inline-block;
    width: 92%;
    margin: 1% auto;
/* content */
    text-align: center;
    font-size: 70%;
    color: #fff;
    transition: background-color 0.2s;
}

.btn-instagram {
    background-color: rgba(130, 23, 139, 0.8);
}
.btn-instagram:hover {
    background-color: rgba(130, 23, 139, 1.0);
}

.btn-facebook {
    background-color: rgba(5, 27, 62, 0.8);
}
.btn-facebook:hover {
    background-color: rgba(5, 27, 62, 1.0);
}

/*
.btn-follow-us:last-child {
    background-color: rgba(5, 27, 62, 0.8);
}
.btn-follow-us:last-child:hover {
    background-color: #051b3e;
}

.btn-follow-us:first-child {
    background-color: rgba(130, 23, 139, 0.8);
}
.btn-follow-us:first-child:hover {
    background-color: rgba(130, 23, 139, 1.0);
}
*/

.btn i {
    
    padding: 0 0 1% 5%;
    float: left;
}


/*========================================================*/
/*================== ICONS ===============================*/
/*========================================================*/
i {
    float: left;
}


/*========================================================*/
/*================== LISTS ===============================*/
/*========================================================*/
ul {
    list-style-type: none;
}


/*========================================================*/
/*================== LINKS  ==============================*/
/*========================================================*/
a {
    text-align: center;
}

a:visited,
a:link {
    text-decoration: none;
    color: #fff; /* DEPRICATED - inherit color from context of parent container */
}

/* Width X Height */
/* DEFAULT: 360 x 640 16% of market */
/* 1366 x 768 9% of market */
/* 1920 x 1080 8% of market */
/* 375 x 667 5% of market */

/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { */

@media only screen and (max-width: 549px) {
    .content-area {
    }
}

@media only screen and (min-width: 550px) and (max-width: 767px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1200px) {
}


